.custom-container {
  background-color: #222222;
  padding: 40px 15px;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .custom-container h1 {
    font-size: 1.8rem;
  }

  .custom-container h4 {
    font-size: 1.2rem;
  }

  .custom-container p {
    font-size: 1rem;
  }
}
.custom-container img {
  max-width: 100%;   
  height: auto;  
  max-height: 350px;  
}
@media (max-width: 576px) {
  .custom-container img {
    max-height: 300px;  
  }
}
.form-control::placeholder {
  color: #A3A3A3;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0d6efd;
}
/* Ensure inputs and textarea keep the same background and text color */
.custom-input {
  background-color: #2c2c2c !important;  /* dark grey */
  color: #fff !important;                 /* white text */
  border: 1px solid #444 !important;      /* subtle border */
}

/* Placeholder text color */
.custom-input::placeholder {
  color: #bbb !important;
}
