:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --navbar-bg: #f8f9fa;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-footer {
  background-color: var(--navbar-bg) !important;
  color: var(--text-color) !important;
  transition: all 0.3s ease;
}
.text-white {
  color: var(--text-color, #F5F5F5) !important;
}

.bi {
  transition: color 0.3s ease-in-out;
}
.footer-bottom
{
  background-color: #0d6efd !important;
}
.bi:hover {
  color: #1E90FF !important;
}

.custom-outline-btn {
  color: #F5F5F5;
  border: 2px solid #1E90FF; 
  background-color: transparent; 
  transition: all 0.3s ease-in-out;
}

.login-button {
  background-color: var(#0d6efd) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--text-color) !important;
}


.custom-outline-btn:hover {
  background-color: #333333; 
  color: white; 
}

.custom-input {
  background: transparent !important;  
  border: 1px solid #0d6efd !important; 
  color: #F5F5F5 !important;         
}

.custom-input::placeholder {
  color: rgba(245, 245, 245, 0.7);    
}

.custom-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #F5F5F5 !important;
}

.login-button:hover {
  background-color: #333333;
}

.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #1E90FF !important;
}
