
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --navbar-bg: #f8f9fa;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-navbar {
  background-color: var(--navbar-bg) !important;
  color: var(--text-color) !important;
  transition: all 0.3s ease;
}

.custom-navbar .nav-link {
  color: var(--text-color) !important;
}

.custom-navbar .nav-link:hover {
  color: #0d6efd !important;
}

.custom-navbar .active-link {
  font-weight: bold;
  color: #0d6efd !important;
}

.custom-navbar .inactive-link {
  color: var(--text-color) !important;
}

.dropdown-notifications .dropdown-menu {
  background-color: var(--navbar-bg);
  color: var(--text-color);
}

.dropdown-notifications .dropdown-item {
  color: var(--text-color);
}

.dropdown-notifications .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.login-button {
  background-color: #0d6efd !important;
  color: var(--bg-color) !important;
  border: 1px solid var(--text-color) !important;
}

.sign-up {
  background-color: var(#333333) !important;
  color: var(--bg-color) !important;
  border: 1px solid var(--text-color) !important;
}

.theme-toggle-icon {
  cursor: pointer;
}
