.custom-container{
    background-color: #222222 !important;
  
        width: 100vw !important; /* Ensure full width */
        max-width: 100vw !important; /* Prevent overflow */
        overflow-x: hidden; /* Hide any horizontal overflow */
  
      
}
