
.home-page.light {
    background-color: #ffffff;
    color: #000000;
}
.home-page.dark {
    background-color: #121212;
    color: #ffffff;
}

.home-page.dark .custom-container {
    background-color: #222222;
    color: white;
}

.home-page.light .custom-container {
    background-color: #f8f9fa !important;
    color: black;
}

.sign-up {
    background-color: #504D4D;
    color: white !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary {
    border-color: #888888;
    color: #dddddd;
}
